{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diagno Test</title>
    <link rel="stylesheet" href="{% static 'css/landing.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <div class="navleft"><p>Diagno Test</p></div>
      <div class="navright">
        <a href="../"><button>Logout</button></a>
      </div>
    </div>
    <div class="container">
      <div class="header">
        <p>Diagnose your disease with a single click</p>
      </div>
      <div class="options">
        <a href="../brain/"><h3>Brain Tumour</h3></a>
      </div>

      <div class="options">
        <a href="../pneumonia"><h3>Pneumonia Predictor</h3></a>
      </div>
      <div class="options">
        <a href="../"><h3>Brain Tumour</h3></a>
      </div>
    </div>
  </body>
</html>
