{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grayscale To Colour</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="header">
      <h1><span>Grayscale To Colour</span></h1>
    </div>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input
        class="custom-file-upload"
        type="file"
        accept="image"
        name="image"
        id="file"
      />
      <button class="compress_image" type="submit" id="submitBtn">
        Predict Fire
      </button>
      <div class="status">
        <p id="message">{{ message }}</p>
      </div>
    </form>

    <div class="wrapper">
      <img
        class="wrapperimg"
        src="{% if image_url %}{{ image_url }}{% else %}{% static 'images/noimage.jpg' %}{% endif %}"
      />

      <!-- Display the result image -->
      <img
        class="resultimg"
        src="{% if result_image_url %}{{ result_image_url }}{% endif %}"
      />

      <div class="info_container">
        <ul>
          <li>File Name: <span class="name">{{ filename }}</span></li>
        </ul>
      </div>
    </div>
  </body>
</html>
